@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 300px;
}

._container {
  width: 90%;
  margin: 0 auto;
}

body, html {
  overflow-x: hidden;
  max-width: 100%;
}

.header {
  height: 15vh;
  background-color: #060606;
  color: white;
}
.header__container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  align-items: center;
  height: inherit;
}
.header__right-content {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
}
.header__logo {
  height: 35px;
}
.header__logo, .header__link, .header__search, .header__button {
  background-color: hsl(227deg, 12%, 30%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: transparent;
  border-radius: 4px;
  border: none;
}
.header__logo:hover, .header__link:hover, .header__search:hover, .header__button:hover {
  cursor: pointer;
}
.header__search {
  padding: 5px;
}
.header__search:focus {
  caret-color: white;
  outline: none;
}
.header__search ::-moz-placeholder {
  color: hsl(227deg, 12%, 85%);
}
.header__search :-ms-input-placeholder {
  color: hsl(227deg, 12%, 85%);
}
.header__search ::placeholder {
  color: hsl(227deg, 12%, 85%);
}
.header__search:hover {
  cursor: text !important;
}
.header__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.header__link {
  list-style: none;
  justify-self: center;
}
.header__link:hover {
  cursor: pointer;
}
.header__info {
  justify-self: end;
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header__burger {
  display: none;
  cursor: pointer;
}
.header__burger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.main {
  min-height: 85vh;
  background-color: hsl(232.5deg, 11.7647058824%, 13.3333333333%);
}
.main__container {
  color: white;
  font-family: "Asap";
  font-weight: 600;
  font-size: 1.2rem;
  height: inherit;
  display: grid;
  grid-template-rows: 0.3fr 0.3fr auto;
  text-align: center;
  align-items: center;
  row-gap: 50px;
  margin: 0 auto;
}
.main__title {
  margin-top: 50px;
}
.main__search {
  align-self: start;
  width: 70%;
  height: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main__search input[type=text] {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(73, 72, 72);
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
}
.main__search input[type=text]:focus {
  outline: none;
  caret-color: white;
}
.main__search button {
  color: white;
  background-color: hsl(225deg, 9.5238095238%, 8.2352941176%);
  border: none;
  border-radius: 5px;
  font-family: "Asap";
  font-size: 1.2rem;
}
.main__search button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.main__gifs {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-bottom: 10px;
}
.main__gif {
  width: 100%;
  height: 300px;
  justify-self: center;
}
.main__gif img {
  width: 100%;
  height: 100%;
}

.footer {
  height: 15vh;
  background-color: #060606;
}
.footer__container {
  height: inherit;
  color: white;
  font-family: "Asap";
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 5px;
}/*# sourceMappingURL=style.css.map */