@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');

* {
  &, &::before, &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

._container {
  width: 90%;
  margin: 0 auto;
}

// ----------------------------

.header {
  height: 15vh;
  background-color: #060606;
  color: white;
  
  &__container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    height: inherit;
    
  }
  
  &__logo, &__link, &__search, &__button {
    background-color: hsl(227deg 12% 30%);
    width: fit-content;
    color: transparent;
    border-radius: 4px;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  
  &__search {
    &:focus {
      caret-color: white;
      outline: none;
    }
    padding: 5px;
    ::placeholder {
      color: hsl(227deg 12% 85%);
    }
    
    &:hover {
      cursor: text!important;
    }
  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  &__link {
    list-style: none;
    justify-self: center;
    
    &:hover {
      cursor: pointer;
    }
  }
  
  &__info {
    justify-self: end;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  }
}

.main {
  min-height: 85vh;
  background-color: hsl(232.5deg 11.7647058824% 13.3333333333%); // hsl(227deg 12% 30%);
  &__container {
    color: white;
    font-family: "Asap";
    font-weight: 600;
    font-size: 1.2rem;
    height: inherit;
    display: grid;
    grid-template-rows: .3fr .3fr auto;
    text-align: center;
    align-items: center;
    row-gap: 50px;
  }
  
  &__title {
    margin-top: 50px;
  }
  
  &__search {
    align-self: start;
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    column-gap: 10px;
    
    & input[type=text] {
      padding: 10px;
      font-size: 1.2rem;
      font-weight: 600;
      background-color: rgb(73, 72, 72);
      border: none;
      border-radius: 5px;
      color: white;
      
      &:focus {
        outline: none;
        caret-color: white;
      }
    }
    
    & button {
      color: white;
      background-color: hsl(225deg 9.5238095238% 8.2352941176%);
      border: none;
      border-radius: 5px;
      font-family: "Asap";
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
  
  &__gifs {
    align-self: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-bottom: 10px;
  }
  
  &__gif {
    width: 100%;
    height: 300px;
    justify-self: center;
    
    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.footer {
  height: 15vh;
  background-color: #060606;
  &__container {
    height: inherit;
    color: white;
    font-family: "Asap";
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 5px;
  }
}

